extends template/template.jade
block main
    div(class="about")
        div(class="titleAbout")
            h1 Sobre la pagina
        div(class="aboutContainer")
            p Esta pagina hace parte de los trabajos que se desarrollaran durante el semestre 2018-1 en la materia de Topicos Especiales en Telematica
