extends template/template2.jade
block main
      div(class="login")
        div(class="titleLogin")
          h1 Inicia sesion
        div(class="loginContainerOne")
          div(class="loginFormBox")
            form(action="login")
              label Usuario
              input(type="text" name="user" placeholder="Ingresa tu usuario")
              label Contrasena
              input(type="password" name="password" placeholder="Ingresa tu contrasena")
              input(type="submit" name="loginCompleted" value="Ingresa")
              a(href="#")
                p ¿Olvidaste tu contrasena?
                a(href="register")
                  p ¿No tienes una cuenta? ¡Registrate!
        div(class="loginContainer")
          div(class="loginLeft")
            h2 Bienvenido
          div(class="loginRight")
            div(class="formBox")
              form(action="/" method='post')
                label Correo
                input(type="email" name="email" placeholder="Ingresa tu contrasena")
                label Contrasena
                input(type="password" name="password" placeholder="Ingresa tu contrasena")
                input(type="submit" value="Ingresa")
                a(href="#")
                  p ¿Olvidaste tu contrasena?
                  a(href="/signup")
                    p ¿No tienes una cuenta? ¡Registrate!