extends template/template.jade
block main
    div(class="soon")
        div(class="titleContent")
            h1 loginde prueba
            form(method='post')
                input(type="email" name="value" placeholder="Correo")
                input(type="password" name="password" value="" placeholder="Contrasena")
            input(type="submit" value="login")
