ul
  li: a(href="main") Proyecto 1
  li: a(href="project2") Proyecto 2
  li: a(href="project3") Proyecto 3
  li: a(href="about") Sobre la pagina
  li: a(href="profile") Perfil
  li: a(href="/logout") Cerrar sesion

